@import "social-buttons-block";
<<<<<<< HEAD
=======
@import "article-page.less";
>>>>>>> 47f511fb08b60f67fc5fb0677f1e5f2d21e8cac4

#user-page {
    position:absolute;
    
    .photo-container {

        div{
            padding-bottom:2%;
        }
    }
    .article-image {

        img {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}
