@import "social-buttons-block";

#user-page {
    position:absolute;
    
    .photo-container {

        div{
            padding-bottom:2%;
        }
    }
    .article-image {

        img {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}
