@import "social-buttons-block";
@import "article-page.less";

#user-page {
    position:absolute;
}
.left-side-block-border {
    border-top: solid 5px;
    border-color: gray;
}
.left-side-text-top-border {
    border-top: solid 5px;
    border-top-color: gray
}
.photo-container div{
    padding-bottom:2%;
}
.article-image img {
    max-width: 80%;
     margin: 30px 63px 30px 40px;
}
